extends layout

block headElement
    title 出席登録

block content
    div#displaynamefield
    form#attendForm(method="post" action="/liff/student/attend")
        .mb-3
            label(for="roomID" class="form-label") 使用する部屋を入力してください
            select.form-select.form-select-lg#roomID(aria-describedby="roomHelp" name="roomID")
                option(value="5540") 5540
                option(value="5531") 5531
            div( id="roomHelp" class="form-text") 研究室なら5540、実験室なら5531
        .mb-3
            label(for="arrival" class="form-label") 入室時間を選択してください
            select.form-select.form-select-lg#attend(aria-describedby="arrivalHelp" name="arrival")
                option(value="now" selected) now
                option(value="6") 6
                option(value="7") 7
                option(value="8") 8
                option(value="9") 9
                option(value="10") 10
                option(value="11") 11
                option(value="12") 12
                option(value="13") 13
                option(value="14") 14
                option(value="15") 15
                option(value="16") 16
                option(value="17") 17
                option(value="18") 18
                option(value="19") 19
                option(value="20") 20
                option(value="21") 21
                option(value="22") 22
                option(value="23") 23
                option(value="0") 0
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
            div( id="arrivalHelp" class="form-text") nowなら現在の時間

        .mb-3
            label(for="leave" class="form-label") 退出予定時間を選択してください
            select.form-select.form-select-lg#attend(aria-describedby="leaveHelp" name="leave")
                option(value="now" selected) now
                option(value="10") 10
                option(value="11") 11
                option(value="12") 12
                option(value="13") 13
                option(value="14") 14
                option(value="15") 15
                option(value="16") 16
                option(value="17") 17
                option(value="18") 18
                option(value="19") 19
                option(value="20") 20
                option(value="21") 21
                option(value="22") 22
                option(value="23") 23
                option(value="0") 0
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
                option(value="6") 6
                option(value="7") 7
                option(value="8") 8
                option(value="9") 9
            div( id="leaveHelp" class="form-text") nowなら現在の時間
        
        button(class="btn btn-primary") Submit
    script(src="/js/attend.js")
    // 暗号化パッケージのcdn
    script(src="https://cdn.jsdelivr.net/npm/crypt@0.0.2/crypt.min.js") 
